main {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.welcome {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
}

.welcome img {
    flex: 1;
    max-width: 50%;
    height: auto;
}

.featured-workouts, .nutrition-tips {
    margin-top: 20px;
}

.workout-card, .nutrition-tip {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 15px; 
}

.workout-card img, .nutrition-tip img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Стили для заголовков */
.workout-card h3, .nutrition-tip h3 {
    font-size: 20px;
    margin-top: 15px;
}

/* Стили для текста */
.workout-card p, .nutrition-tip p {
    font-size: 16px;
    color: #333; 
}
